<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftAdvancedLearning.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDAB320B2A8151CC0089B5B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDC396362A7A4643007B5FA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDFC73822A84C71900EE70D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
